<table id="round" class="table table-striped sticky-header">
  <thead>
    <tr>
      <th></th>
      {{#each scorecard in scorecards}}
        <th class='text-center'>
          {{#if scorecard.hasUserAvatar}}
            <img {{bind-attr src='scorecard.userAvatarUrl'}} class='tiny-thumbnail u-circle'>
          {{else}}
            <img src='http://res.cloudinary.com/frolfr/image/upload/v1450881126/avatar-placeholder_n7w7z8.png' class='tiny-thumbnail u-circle' />
          {{/if}}
        </th>
      {{/each}}
    </tr>
    <tr>
      <th></th>
      {{#each scorecard in scorecards}}
        <th class='text-center'>
          <strong>{{scorecard.userInitials}}</strong>
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each holeNumber in holeNumbers}}
      <tr>
        {{#if hasHoleLinks}}
          {{#link-to 'turns' holeNumber tagName='td' classNames='u-pointer'}}<strong>{{holeNumber}}</strong>{{/link-to}}
        {{else}}
          <strong>{{holeNumber}}</strong>
        {{/if}}
        {{#each scorecard in scorecards}}
          <td class='text-center'>
            {{scorecards-table-cell scorecard=scorecard holeNumber=holeNumber}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td><strong>T</strong></td>
      {{#each scorecard in scorecards}}
        <td class='text-center'>
          {{scorecard.totalStrokes}}
        </td>
      {{/each}}
    </tr>
    <tr>
      <td><strong>+ / -</strong></td>
      {{#each scorecard in scorecards}}
        <td class='text-center'>
          {{scorecard.formattedShooting}}
        </td>
      {{/each}}
    </tr>
  </tfoot>
</table>
