<div class='well'>
  <header class='text-center'>
    <h3>{{courseName}}</h3>
    <h5>{{display-date createdAt}}</h5>
  </header>
</div>

<table id="round" class="table table-striped sticky-header">
  <thead>
    <tr>
      <th></th>
      {{#each scorecard in scorecards}}
        <th class='text-center'>
          {{#if scorecard.hasUserAvatar}}
            <img {{bind-attr src='scorecard.userAvatarUrl'}} class='tiny-thumbnail u-circle'>
          {{else}}
            <img src='http://xcellis.com/wp-content/uploads/2013/09/avatar-placeholder.png' class='tiny-thumbnail u-circle' />
          {{/if}}
        </th>
      {{/each}}
    </tr>
    <tr>
      <th></th>
      {{#each scorecard in scorecards}}
        <th class='text-center'>
          <strong>{{scorecard.userInitials}}</strong>
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each holeNumber in holeNumbers}}
      <tr>
        {{#link-to 'turns' holeNumber tagName='td' classNames='u-pointer'}}<strong>{{holeNumber}}</strong>{{/link-to}}
        {{#each scorecard in scorecards}}
          <td class='text-center'>
            {{strokes-table-cell scorecard=scorecard holeNumber=holeNumber}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td><strong>T</strong></td>
      {{#each scorecard in scorecards}}
        <td class='text-center'>
          {{scorecard.totalStrokes}}
        </td>
      {{/each}}
    </tr>
    <tr>
      <td><strong>+ / -</strong></td>
      {{#each scorecard in scorecards}}
        <td class='text-center'>
          {{scorecard.formattedShooting}}
        </td>
      {{/each}}
    </tr>
  </tfoot>
</table>

<script type="text/javascript">
  $(".sticky-header").floatThead({
    scrollingTop: 40
  });
</script>
