{{#if content}}
  <h2 class="text-center">
    Courses
  </h2>
  <table id="courses" class="table table-striped">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Location
        </th>
        <th>
          Rounds
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each course in content}}
        <tr>
          <td>
            {{#link-to "courseStatLog" course}}
              {{course.name}}
            {{/link-to}}
          </td>
          <td>
            {{course.location}}
          </td>
          <td>
            {{course.roundsPlayed}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class='text-center'>
    {{page-numbers content=content}}
  </div>
{{else}}
  <h2>
    Welcome to Frolfr!
  </h2>
{{/if}}
