<h3 class='text-center'>Edit Review</h3>
<form {{action "submitReview" content on="submit"}}>

  <div class='form-group'>
    <label>* Rating</label>
    {{view  Ember.Select content=ratingChoices value=model.rating required=true prompt="Select Rating" classNames='form-control'}}
  </div>

  <div class='form-group'>
    <label>* Comments</label>
    {{textarea value=model.post required=true classNames='form-control' rows=10}}
  </div>

  <div class="form-group row">
    <div class='col-xs-6'>
      <button class="btn btn-block btn-success btn-lg {{if model.isDirty 'active' 'disabled'}}" type="submit" {{action "saveChanges" on="click"}}>
        Save
      </button>
    </div>
    <div class='col-xs-6'>
      <button class="btn btn-block btn-danger btn-lg {{if model.isDirty 'active' 'disabled'}}" {{action "cancel" on="click"}}>
        Cancel
      </button>
    </div>
  </div>
</form>
