{{nearest-courses store=store nearestCourses=nearestCourses}}

{{#if nearestCourses}}
  You lookin' for one-a these?
  <ul>
    {{#each nearestCourses as |nearestCourse|}}
      <li class='u-pointer'><a {{action 'updateCourseInput' nearestCourse}}>{{nearestCourse.name}}</a></li>
    {{/each}}
  </ul>
{{/if}}

<h2 class="text-center">
  Start a New Round
</h2>
<form {{action "createRound" on="submit"}}>
  <fieldset>
    <div class="form-group">
      <label for="course">
        * Course
      </label>
      {{view "select" content=courses selection=model.course.content optionValuePath="content.id" optionLabelPath="content.name" prompt="Select Course" id="course" required=true classNames="form-control"}}
    </div>
    <p>
      Can't see the course you're looking for? Why not
      {{link-to "suggest a new course?" "courses.new"}}
    </p>
    <div class="form-group">
      <label for="players">
        Players
      </label>
      <div class="row">
        <div class="col-xs-9 form-group">
          {{auto-complete id="players" model=potentialPlayers selection=selectedPlayer value=query displayKey="fullName"}}
        </div>
        <div class="col-xs-3">
          <button {{action 'addPlayer'}} disabled={{noPlayerSelected}} class="btn btn-block btn-lg btn-success">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row block-grid-xs-3 block-grid-sm-4 block-grid-lg-6">
      <div class="block-grid-item">
        {{#if currentUser.hasAvatar}}
          <img src={{currentUser.avatarUrl}} class="u-circle friend-avatar" />
        {{else}}
          <img src="http://res.cloudinary.com/frolfr/image/upload/v1450881126/avatar-placeholder_n7w7z8.png" class="u-circle friend-avatar" />
        {{/if}}
        <div class="text-center">
          {{currentUser.fullName}}
        </div>
      </div>
      {{#each model.players as |player|}}
        <div class="block-grid-item">
          {{#if player.hasAvatar}}
            <img src={{player.avatarUrl}} class="u-circle friend-avatar" />
          {{else}}
            <img src="http://res.cloudinary.com/frolfr/image/upload/v1450881126/avatar-placeholder_n7w7z8.png" class="u-circle friend-avatar" />
          {{/if}}
          <div class="text-center">
            {{player.fullName}}
          </div>
          <button {{action 'removePlayer' player}} class="btn btn-block btn-danger">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      {{/each}}
    </div>
    <button type="submit" class="btn btn-block btn-lg btn-success">
      Start Round
    </button>
  </fieldset>
</form>
