<div {{bind-attr class="currentUser.isAuthenticated:main-wrapper"}}>
  {{#if currentUser.isAuthenticated}}
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        {{#if currentRound}}
          {{#link-to "turns" currentRound currentHole tagName="li" classNames="u-pointer"}}
            <a>
              <span class="glyphicon glyphicon-star">
              </span>
              {{currentRoundLinkText}}
            </a>
          {{/link-to}}
        {{/if}}


        {{#link-to "rounds.new" tagName="li" classNames="u-pointer"}}
          <a>
            <span class="glyphicon glyphicon-plus">
            </span>
            New Round
          </a>
        {{/link-to}}
        {{#link-to "courses.index" tagName="li" classNames="u-pointer"}}
          <a>
            <i class="fa fa-map-marker">
            </i>
            Courses
          </a>
        {{/link-to}}
        {{#link-to "friends" tagName="li" classNames="u-pointer"}}
          <a>
            <i class="fa fa-users"></i>
            Friends
          </a>
        {{/link-to}}
        {{#link-to "profile" tagName="li" classNames="u-pointer"}}
          <a>
            <span class="glyphicon glyphicon-heart">
            </span>
            Profile
          </a>
        {{/link-to}}
      </ul>
    </div>
  {{/if}}

  <div id="page-content-wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid navbar-container">
        {{#if currentUser.isAuthenticated}}
          <a {{action "toggleMenu"}} class="navbar-left navbar-brand navbar-link u-pointer navbar-menu">
            <span class="glyphicon glyphicon-menu-hamburger">
            </span>
          </a>
        {{/if}}
        {{link-to "Frolfr" "index" id="title" classNames="navbar-brand navbar-brand-text navbar-left navbar-link"}}
      </div>
    </nav>

    <section class="main-section">
      <div class="container-fluid">
        {{outlet}}
      </div>
    </section>
  </div>
</div>
