<h2 class="text-center">
  Friends
</h2>
{{#if model}}
  <div class="row block-grid-xs-3 block-grid-sm-4 block-grid-lg-6">
    {{#each friend in controller}}
      <div class="block-grid-item">
        {{#link-to "userStatLog" friend tagName="div" classNames="u-pointer"}}
          {{#if friend.hasAvatar}}
            <img {{bind-attr src="friend.avatarUrl"}} class="u-circle friend-avatar" />
          {{else}}
            <img src="http://xcellis.com/wp-content/uploads/2013/09/avatar-placeholder.png" class="u-circle friend-avatar" />
          {{/if}}
          <div class="text-center">
            {{friend.fullName}}
          </div>
        {{/link-to}}
      </div>
    {{/each}}
  </div>
{{else}}
  <p>
    You don't have any friends yet.
  </p>
{{/if}}
<hr />
<h2 class="text-center">
  Search for Friends
</h2>
{{render "friendableUsers"}}