<h3 class="visible-xs text-center">
  Leaderboard
</h3>
<table id="rounds" class="table table-striped">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        Player
      </th>
      <th>
        Date Played
      </th>
      <th>
        Score
      </th>
      <th>
        Shooting
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each scorecard in model}}
      <tr>
        <td>
          {{ranking-from-index _view.contentIndex}}
        </td>
        <td>
          {{scorecard.userFullName}}
        </td>
        <td>
          {{display-date scorecard.createdAt}}
        </td>
        <td>
          {{scorecard.totalScore}}
        </td>
        <td>
          {{scorecard.formattedTotalShooting}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
