<h2 class="text-center">
  Profile
</h2>

<div class='push-down'></div>

<form>
  <div class="form-group">
    <label for="firstName">
      * First Name
    </label>
    {{input value=firstName type="text" id="firstName" required=true classNames="form-control"}}
  </div>
  <div class="form-group">
    <label for="middleName">
      * Middle Name
    </label>
    {{input value=middleName type="text" id="middleName" classNames="form-control"}}
  </div>
  <div class="form-group">
    <label for="lastName">
      * Last Name
    </label>
    {{input value=lastName type="text" id="lastName" required=true classNames="form-control"}}
  </div>
  <div class="form-group row">
    <div class='col-xs-6'>
      <button {{bind-attr class=":btn :btn-block :btn-primary :btn-lg isDirty:active:disabled"}} type="submit" {{action "saveChanges" on="click"}}>
        Save
      </button>
    </div>
    <div class='col-xs-6'>
      <button {{bind-attr class=":btn :btn-block :btn-danger :btn-lg isDirty:active:disabled"}} {{action "cancel" on="click"}}>
        Cancel
      </button>
    </div>
  </div>
</form>

<hr />

<h2 class="text-center">
  Avatar
</h2>
{{#if hasAvatar}}
  <div class="text-center">
    <img {{bind-attr src="avatarUrl"}} class="avatar u-circle" />
  </div>
{{else}}
  <p>
    No avatar currently uploaded. Feel free to upload one here.
  </p>
  {{file-upload url="api/avatars" imageUrl=model.avatarUrl}}
{{/if}}

<hr />

<div class='text-center'>
  <button {{action "logout" on="click"}} class='btn-danger btn btn-lg'>
    Logout
  </button>
</div>

