<h2 class="text-center">
  Profile
</h2>
<form>
  <div class="form-group">
    <label for="firstName">
      * First Name
    </label>
    {{input value=firstName type="text" id="firstName" required=true classNames="form-control"}}
  </div>
  <div class="form-group">
    <label for="middleName">
      * Middle Name
    </label>
    {{input value=middleName type="text" id="middleName" classNames="form-control"}}
  </div>
  <div class="form-group">
    <label for="lastName">
      * Last Name
    </label>
    {{input value=lastName type="text" id="lastName" required=true classNames="form-control"}}
  </div>
  <div class="form-group">
    <button {{bind-attr class=":btn :btn-block :btn-primary :btn-lg isDirty:active:disabled"}} type="submit" {{action "saveChanges" on="click"}}>
      Save
    </button>
    <button {{bind-attr class=":btn :btn-block :btn-danger :btn-lg isDirty:active:disabled"}} {{action "cancel" on="click"}}>
      Cancel
    </button>
  </div>
</form>
<hr />
<h2 class="text-center">
  Avatar
</h2>
{{#if hasAvatar}}
  <div class="text-center">
    <img {{bind-attr src="avatarUrl"}} class="avatar u-circle" />
  </div>
{{else}}
  <p>
    No avatar currently uploaded. Feel free to upload one here (square images are best!)
  </p>
  {{file-upload url="api/avatars" imageUrl=model.avatarUrl}}
{{/if}}
<hr />
<h2 class="text-center">
  Settings
</h2>
<a {{action "logout" on="click"}}>
  Logout
</a>