{{#if model.hasNeverPlayed}}
  <p>
    You have never tracked a scorecard on Frolfr!
  </p>
{{else}}
  <h3 class="visible-xs text-center">
    Stats
  </h3>
  <div class='push-down'></div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="pull-right">
        {{model.scorecardsStarted}}
      </span>
      Total Scorecards Started
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{model.completedScorecards}}
      </span>
      Completed Scorecards Played
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{model.coursesPlayed}}
      </span>
      Courses Played
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{model.statesPlayed}}
      </span>
      States Played
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{model.displayTopPlayedCourse}}
      </span>
      Favorite Course
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{model.displayTopFriend}}
      </span>
      Best Friend
    </li>
  </ul>
{{/if}}
