<div class="row">
  <div class="pull-left">
    <img src="http://res.cloudinary.com/frolfr/image/upload/v1462138080/black-icon_ghpfsr.png" alt="Hole #" width="50" height="50" class="pull-left" />
    <h2 class="text-center pull-left hole-number">
      {{holeNumber}}
    </h2>
  </div>
  <div class="pull-right">
    <div class="btn-group pars">
      <button class="btn btn-default btn-lg {{if isPar3 'darkened'}}" {{action "changePar" 3 on="click"}}>
        3
      </button>
      <button class="btn btn-default btn-lg {{if isPar4 'darkened'}}" {{action "changePar" 4 on="click"}}>
        4
      </button>
      <button class="btn btn-default btn-lg {{if isPar5 'darkened'}}" {{action "changePar" 5 on="click"}}>
        5
      </button>
    </div>
  </div>
</div>
{{#each controller as |turn|}}
  <div class="media turn-row">
    <div class="media-left media-middle">
      {{#if turn.scorecard.hasUserAvatar}}
        <img src={{turn.scorecard.userAvatarUrl}} class="media-object turns-thumbnail thumbnail u-circle" />
      {{else}}
        <h2 class="media-object">
          {{turn.scorecard.userInitials}}
        </h2>
      {{/if}}
    </div>
    <div class="media-body row">
      <div class="vertical-align">
        <button {{action "subtractOne" turn on="click"}} class="btn btn-primary col-xs-3 text-center u-condensed btn-lg">
          <i class="fa fa-minus"></i>
        </button>
        <div class="col-xs-3">
          <h3 class="text-center par-status {{turn.parStatus}}">
            {{turn.displayStrokes}}
          </h3>
        </div>
        <button {{action "addOne" turn on="click"}} class="btn btn-primary col-xs-3 text-center u-condensed btn-lg">
          <i class="fa fa-plus"></i>
        </button>
        <div class="col-xs-3 text-center">
          <div class="pull-right">
            <div class="pull-left total">
              {{turn.scorecard.formattedTotals}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
<div class="push-down"></div>

<div class="well row">
  <div class="col-xs-3">
    {{#unless isFirstHole}}
      <a {{action "previousHole" on="click"}} class="btn btn-success btn-block">
        <i class="fa fa-chevron-left"></i>
      </a>
    {{/unless}}
  </div>

  <div class="col-xs-3">
    {{#link-to 'round.index' roundId classNames='btn btn-default btn-block'}}
      <i class="fa fa-bar-chart"></i>
      <span class="hidden-xs">Scores</span>
    {{/link-to}}
  </div>

  <div class="col-xs-3">
    {{#link-to 'round.settings' roundId classNames='btn btn-default btn-block'}}
      <i class="fa fa-gear"></i>
      <span class="hidden-xs">Settings</span>
    {{/link-to}}
  </div>

  <div class="col-xs-3">
    <a {{action "nextHole" on="click"}} class="btn btn-success btn-block">
      {{#if isLastHole}}
        <span>
          Recap
        </span>
      {{else}}
        <i class="fa fa-chevron-right"></i>
      {{/if}}
    </a>
  </div>
</div>
