{{#if model.hasNeverPlayed}}
  <p>
    This user has never tracked a scorecard on Frolfr!
  </p>
{{else}}
  <h4 class="text-center">
    {{model.firstName}}'s Stats
  </h4>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="pull-right">
        {{model.totalScorecardsPlayed}}
      </span>
      Total Scorecards Played
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{model.completedScorecardsPlayed}}
      </span>
      Completed Scorecards Played
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{model.coursesPlayed}}
      </span>
      Courses Played
    </li>
  </ul>
  <h4 class="text-center">
    Comparative Stats
  </h4>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="pull-right">
        {{model.totalRoundsWithUser}}
      </span>
      Rounds Played with
      {{model.firstName}}
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{model.totalIncompleteRounds}}
      </span>
      Rounds Incomplete with
      {{model.firstName}}
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{model.totalRoundsWon}}
      </span>
      Rounds Won Against
      {{model.firstName}}
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{model.totalRoundsLost}}
      </span>
      Rounds Lost to
      {{model.firstName}}
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{model.totalRoundsTied}}
      </span>
      Rounds Tied with
      {{model.firstName}}
    </li>
  </ul>
{{/if}}
