{{#if hasNeverPlayed}}
  <p>
    This user has never tracked a scorecard on Frolfr!
  </p>
{{else}}
  <h4 class="text-center">
    {{firstName}}
    's Stats
  </h4>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="pull-right">
        {{totalScorecardsPlayed}}
      </span>
      Total Scorecards Played
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{completedScorecardsPlayed}}
      </span>
      Completed Scorecards Played
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{coursesPlayed}}
      </span>
      Courses Played
    </li>
  </ul>
  <h4 class="text-center">
    Comparative Stats
  </h4>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="pull-right">
        {{totalRoundsWithUser}}
      </span>
      Rounds Played with 
      {{firstName}}
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{totalIncompleteRounds}}
      </span>
      Rounds Incomplete with 
      {{firstName}}
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{totalRoundsWon}}
      </span>
      Rounds Won Against 
      {{firstName}}
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{totalRoundsLost}}
      </span>
      Rounds Lost to 
      {{firstName}}
    </li>
    <li class="list-group-item">
      <span class="pull-right">
        {{totalRoundsTied}}
      </span>
      Rounds Tied with 
      {{firstName}}
    </li>
  </ul>
{{/if}}